<div>
    {{#each blogs as |blog| }}
    <div class="p-5 m-5 bg-light text-center rounded-3">
    <h1 class="display-5"><a class="text-decoration-none" href="/blog/{{{blog.id}}}">{{{blog.title}}}</a></h1>
    <p class="fs-2">{{blog.body}}</p>
    </div>
    {{/each}}
</div>