{{#if loggedIn}}
{{#if blogIsUsers}}
<h1 class="display-2 text-center mt-2">Edit Your Post</h1>
<div id="container" data-id="{{blog.id}}" class="container bg-light mt-5 p-4">
<div class="col text-center">
    <form id="edit-blog">
    <p class="fs-1">Blog Title</p>
    <input class="form-control" type="text"  id="blog-title" value="{{blog.title}}">
    <p class="fs-1">Blog Body</p>
    <textarea class="form-control" id="blog-body" cols="30" rows="10">{{blog.body}}</textarea>
    <div></div>
    <button class="btn btn-primary fs-2 ps-4 pe-4 m-3" type="submit">Update</button>
    </form>
</div>
</div>
<script src="../js/edit.js"></script>
{{/if}}
{{/if}}