<div class="p-5 m-5 bg-light text-center rounded-3">
    <h1 class="display-1">Welcome to Maximilian's Blog!</h1>
 </div>   

 <div class="p-5 m-5 bg-light text-center rounded-3">
    <p class="fs-3">This is my very first full stack application!</p>
 </div>