<div class="container">
<div class="row justify-content-center">
<div class="col">
    <h1>Login</h1>
    <form id="login-form">
    <h4>Email</h4>
    <input id="login-email" type="text">
    <h4>Password</h4>
    <input id="login-password" type="password">
    <button id="login-btn" type="submit">Log In</button>
    </form>
</div>

<div class="col">
    <h1>Sign Up</h1>
    <form id="signup-form">
    <h4>Email</h4>
    <input id="signup-email" type="text">
    <h4>Username</h4>
    <input id="signup-username"type="text">
    <h4>Password</h4>
    <input id="signup-password" type="password">
    <button type="submit">Sign Up</button>
    </form>
</div>
</div>
</div>

<script src="./js/login.js"></script>